.papa{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.img{
    height: 225px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    opacity: 0.6;
    background-color: black;
    border-radius: 8px;
    border:2px solid black;
}
.child{
    position: relative;

}

.padding-bottom{
    padding-bottom: 3px;
}
.padding-left{
    padding-left: 9px;
}

.input{
    
    margin-bottom: 7px;

    border: none;
    background-color:  #053463d2;
    border-radius: 9px;
    padding-top: 12px;
    padding-bottom: 9px;
    color: whitesmoke;
    margin-left: 2px;
    width: 250px;
}
.all{
    position: absolute;
    top: 19px;
}
.older{
    width: 100%;
}
.one{
    border: none;
    border-radius: 5px;
    padding: 9px 20px 7px 20px;
    margin-right: 5px;
    color: whitesmoke;
    background-color: rgba(41, 41, 41, 0.361);
}
.oneD{
    border: none;
    border-radius: 13px;
    padding: 12px 20px 12px 20px;
    margin-right: 5px;
    color: whitesmoke;
    background-color:rgba(255, 0, 0, 0.326);
}
.oneq{
    padding: 9px 48px 8px 45px;
    border: none;
    border-radius: 13px;
    margin-right: 5px;
    color: whitesmoke;
    background-color: rgba(255, 166, 0, 0.336);
}
.onef{
    border: none;
    border-radius: 5px;
    padding: 9px 20px 8px 20px;
    margin-right: 5px;
    color: whitesmoke;
    background-color:rgba(255, 0, 0, 0.385);
}
